* {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

aside {
  width: 42px;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  z-index: 9999;
  right: 0;
  background-color: #86BC42;
}

aside ul {
  display: flex;
  flex-wrap: wrap;
}

aside ul li {
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

aside ul li span {
  display: block;
}

aside ul > li:nth-child(3) {
  height: 50vh;
}

aside ul > li:nth-child(3) div {
  margin-bottom: 3vh;
}

aside ul > li:nth-child(3) div a {
  display: block;
  color: #fff;
}

aside ul > li:nth-child(3) div a span {
  margin-top: 5px;
}

aside ul > li:nth-child(3) img {
  text-align: center;
  width: 22px;
}

aside ul > li:nth-child(4) {
  height: 5vh;
}

aside ul > li:nth-child(5) {
  margin-top: 7vh;
  height: 20vh;
}

aside ul > li:nth-child(5) > div {
  margin-top: 10px;
}

aside ul > li:nth-child(5) > div img {
  margin-top: 10px;
}

header .headBg {
  background-color: #f8f8f8;
}

header .container.HEADTOP {
  height: 40px;
  min-width: 778px;
}

header .container.HEADTOP .headTop {
  width: 100%;
  background-color: #f8f8f8;
}

header .container.HEADTOP .headTop .headTopLeft {
  display: flex;
  height: 40px;
  line-height: 40px;
}

header .container.HEADTOP .headTop .headTopLeft p {
  font-size: 12px;
  color: #5a5a5a;
}

header .container.HEADTOP .headTop .headTopLeft .login {
  text-align: center;
  line-height: 40px;
  margin-left: 55px;
  font-size: 12px;
}

header .container.HEADTOP .headTop .headTopLeft .login button {
  font-size: 12px;
  color: #5a5a5a;
}

header .container.HEADTOP .headTop .headTopLeft .login > a:nth-child(1) {
  display: inline-block;
  line-height: 12px;
  padding-right: 5px;
  border-right: 1px solid #ddd;
}

header .container.HEADTOP .headTop .headTopLeft .login > a:nth-child(2) {
  margin-left: 2px;
}

header .container.HEADTOP .headTop .headTopRight {
  display: flex;
  justify-content: space-between;
}

header .container.HEADTOP .headTop .headTopRight > span {
  font-size: 12px;
  color: #5a5a5a;
  display: inline-block;
  line-height: 40px;
}

header .container.HEADTOP .headTop .headTopRight span:nth-child(1) {
  margin-right: 20px;
}

header .container.HEADTOP .headTop .headTopRight span:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../../img/time.png);
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-right: 5px;
}

header .container.HEADTOP .headTop .headTopRight span:nth-child(2) {
  margin-right: 25px;
}

header .container.HEADTOP .headTop .headTopRight span:nth-child(2)::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 12px;
  background: url(../../img/email.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom;
  margin-right: 5px;
}

header .container.HEADTOP .headTop .headTopRight span:nth-child(3) a {
  color: #5a5a5a;
}

header .headSearch {
  height: 116px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1201px) {
  header .headSearch {
    width: 1201px;
    margin: 0 auto;
  }
}

header .headSearch .image {
  height: 39px;
  width: 228px;
  background: url(../../img/logo001.png) no-repeat;
}

header .headSearch .search {
  min-width: 490px;
  position: relative;
}

header .headSearch .search > div {
  display: flex;
  justify-content: space-between;
}

header .headSearch .search > div > input {
  font-size: 12px;
  width: 100%;
  height: 37px;
  padding-left: 5px;
  outline: none;
  border: 1px solid #86bc42;
}

header .headSearch .search > div > button {
  color: white;
  font-size: 12px;
  outline: none;
  background-color: #86bc42;
  border: 0px solid #000;
  width: 66px;
}

header .headSearch .search > div:nth-child(2) {
  margin-top: 5px;
  position: absolute;
  font-size: 12px;
  width: 410px;
}

header .headSearch .search > div:nth-child(2) a {
  color: #5a5a5a;
}

header .headSearch .shopping {
  vertical-align: middle;
  line-height: 37px;
  width: 135px;
  border: 1px solid #86bc42;
}

header .headSearch .shopping img {
  margin-left: 8px;
  margin-right: 4px;
  vertical-align: middle;
  width: 18px;
}

header .headSearch .shopping span {
  font-size: 12px;
  color: #333;
}

header .headSearch .shopping span:nth-child(3) {
  font-size: 12px;
  color: #86bc42;
}

header .headItems {
  background-color: #86bc42;
  line-height: 50px;
}

header .headItems .container .row a {
  color: white;
}

header .headItems .container .row .col-3 {
  color: white;
  background-color: black;
  position: relative;
  width: 285px;
}

header .headItems .container .row .col-3::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 25px;
  top: 18px;
  background: url(../../img/home/items_sanheng.png) no-repeat;
  background-size: contain;
}

header .headItems .container .row .col {
  color: white;
  text-align: center;
  font-size: 16px;
}

header .headItems .container .row .col:hover a {
  color: #000;
}

header .headBannerFive {
  width: 1140px;
  margin: 0 auto;
  height: 103px;
  margin-bottom: 75px;
}

header .headBannerFive ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headBannerFive ul li {
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 186px;
  height: 70px;
}

header .headBannerFive ul li .wz span {
  margin-top: 10px;
  font-size: 18px;
  color: #000;
  display: block;
}

header .headBannerFive ul li .wz p {
  display: block;
  font-size: 12px;
  color: #aaa;
}

header .headBannerThree {
  width: 1140px;
  height: 215px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headBannerThree .oneWz {
  width: 100%;
  height: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .headBannerThree .oneWz span {
  display: block;
  width: 182px;
  font-size: 22px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  border: 1px solid white;
  transition: 1s;
}

header .headBannerThree .oneWz span:hover {
  transition: 1s;
  border-radius: 15px;
  background-color: rgba(134, 188, 66, 0.6);
}

header .headBannerThree .hbt_one {
  height: 215px;
  width: 375px;
  background: url(../../img/home/img_yangcong.png);
}

header .headBannerThree .hbt_two {
  height: 215px;
  width: 375px;
  background: url(../../img/home/img_rourou.png) no-repeat;
  background-size: cover;
}

header .headBannerThree .hbt_three {
  height: 215px;
  width: 375px;
  background: url(../../img/home/img_juzi.png);
}

main {
  margin: 0 auto;
  width: 1140px;
}

main .mainHead {
  margin-top: 60px;
}

main .mainHead .mainHeadTop {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
  padding-bottom: 10px;
  border-bottom: 4px solid #86bc42;
}

main .mainHead .mainHeadTop > span:nth-child(1) {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

main .mainHead .mainHeadTop > span:nth-child(2) {
  font-size: 16px;
  text-align: center;
  width: 174px;
  color: #86bc42;
  border: 1px solid #86bc42;
  border-radius: 10px;
}

main .mainHead .mainHeadBotton {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

main .mainHead .mainHeadBotton ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

main .mainHead .mainHeadBotton ul li {
  width: 220px;
  border: 1px solid #ccc;
  transition: 1s;
}

main .mainHead .mainHeadBotton ul li:hover {
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0 0 3px 2px #ccc;
  border-radius: 10px;
}

main .mainHead .mainHeadBotton ul li img {
  display: block;
  margin: 0 auto;
  width: 210px;
  height: 246px;
}

main .mainHead .mainHeadBotton ul li .mainHeadWz {
  margin: 0 auto;
  text-align: center;
}

main .mainHead .mainHeadBotton ul li .mainHeadWz span {
  font-size: 14px;
  color: #5a5a5a;
}

main .mainHead .mainHeadBotton ul li .mainHeadWz p {
  font-size: 14px;
  color: #86bc42;
}

main .mainClassfiy {
  width: 1140px;
  margin-top: 28px;
}

main .mainClassfiy .mainClassTop {
  line-height: 28px;
  display: flex;
  justify-content: space-between;
}

main .mainClassfiy .mainClassTop .mainClassTopLeft > span:nth-child(1) {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
}

main .mainClassfiy .mainClassTop .mainClassTopLeft > span:nth-child(2) {
  font-size: 14px;
  color: #aaa;
}

main .mainClassfiy .mainClassTop .mainClassTopRight span {
  display: block;
  text-align: center;
  width: 102px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #333;
}

main .mainClassfiy .mainClassImg {
  margin-top: 10px;
  height: 460px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

main .mainClassfiy .mainClassImg .mainClassImgLeft {
  width: 400px;
}

main .mainClassfiy .mainClassImg .mainClassImgRight {
  width: 860px;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul li {
  padding: 8px 14px;
  width: 185px;
  height: 230px;
  transition: 1s;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul li:hover {
  border: 1px solid gold;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px gold;
  transition: 1s;
  transform: scale(1.2);
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul li img {
  height: 150px;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul .mainHeadWz {
  margin: 10px auto;
  text-align: center;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul .mainHeadWz span {
  font-size: 14px;
  color: #5a5a5a;
}

main .mainClassfiy .mainClassImg .mainClassImgRight ul .mainHeadWz p {
  font-size: 14px;
  color: #86bc42;
}

main .mainBotton {
  width: 100%;
}

main .mainBotton > img {
  width: 100%;
}

main .mainBotton .mainClassTop .mainClassTopLeft {
  margin-top: 40px;
  margin-bottom: 20px;
}

main .mainBotton .mainBottonItems {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .mainBotton .mainBottonItems .mbiBox {
  height: 108px;
  width: 560px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

main .mainBotton .mainBottonItems .mbiBox img {
  height: 108px;
  width: 150px;
}

main .mainBotton .mainBottonItems .mbiBox .mbiWz {
  margin-left: 10px;
}

main .mainBotton .mainBottonItems .mbiBox .mbiWz span:nth-child(1) {
  font-size: 14px;
}

main .mainBotton .mainBottonItems .mbiBox .mbiWz span:nth-child(2) {
  display: block;
  line-height: 20px;
  font-size: 12px;
  color: #999;
}

main .mainBotton .mainBottonItems .mbiBox .mbiWz p {
  font-size: 12px;
  color: #999;
}

footer {
  background: url(../../img/home/footerbg.png);
  height: 410px;
}

footer .footerTop table {
  margin: 0 auto;
  width: 1140px;
  text-align: left;
  padding-top: 20px;
}

footer .footerTop table tr th {
  padding-top: 75px;
  padding-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

footer .footerTop table tr td {
  line-height: 28px;
  font-size: 14px;
  width: 178px;
  color: #fff;
}

footer .footerBtn {
  margin: 50px auto 0px;
  height: 126px;
  border-top: 2px solid #74ac2d;
}

@media screen and (min-width: 1140px) {
  footer .footerBtn {
    width: 1140px;
  }
}

footer .footerBtn ul {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

footer .footerBtn ul li {
  margin-top: 40px;
  width: 95px;
  font-size: 14px;
  color: #fff;
  border-right: 1px solid #fff;
  text-align: center;
}

footer .footerBtn ul li:last-child {
  border-right: none;
}

footer .footerBtn ul li a {
  color: #fff;
}

footer .footerBtn p {
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  color: #fff;
}
